

<h1><%= @song.title  %></h1> 
<h3><%= @song.artist %></h3>

<%= link_to "Edit Song", edit_song_path(@song)%>
<%= link_to "Delete Song", song_path(@song), method: :delete %>

<p><%= link_to "All Songs", songs_path   %></p>
